@import "variables";

@mixin guideline($bottom-position, $right-position, $height, $translateY-value, $top-position) {
    height: $height;
    transform: translateY($translateY-value);
    bottom: $bottom-position;
    right: $right-position;
    top: $top-position;
    display: inline-block;
    width: 2.125rem;
    border-right: 2px solid $secondary-color;
    border-top: 2px solid $secondary-color;
    position: absolute;
}

@mixin guideline-ball($bottom-position, $right-position, $top-position, $translateY-value) {
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: $secondary-color;
    position: absolute;
    bottom: $bottom-position;
    right: $right-position;
    transform: translateY($translateY-value);
    top: $top-position;
}

@mixin text($font-size, $font-weight, $line-height: auto) {
    font-size: $font-size;
    font-weight: $font-weight;
    text-align: right;
    line-height: $line-height;
    margin: 0;
}